$(".conversation-posts").append("<a href=<%= @conversation.url %> target='_blank'><div class='notice'><span class='mega-octicon octicon-chevron-right'></span>Happiness Engineered!</div></a>");
$('.new_post')[0].reset();